<div class = main-container>
  <p class = "title">~使い方~</p>
  <div class = "explanation-box">
    <h3>1.メニューから「スタジオ抽選」を選択</h3>
  </div>
  <div class = "explanation-box">
    <h3>2.希望時間をチェックして、「応募」をクリック</h3>
    <ul>
      <li>「応募状況」から現在の応募バンド数が確認できるため、応募スケジュールの検討に役立ててください。</li>
    </ul>
  </div>
  <div class = "explanation-box">
    <h3>3.締め切り後、メニューから「抽選結果」を選択（締め切りまでは表示されません）</h3>
    <ul>
      <li>当選バンドは<span class = "pink">ピンク</span>で表示されます。</li>
      <li>バンド名をクリックすると、プロフィール画面に移行しDMを送ることができます。スケジュールの交渉などに役立ててください。</li>
    </ul>
  </div>
  <div class = "explanation-box">
    <h3><span class = "red">注意</span>.DMが届いている可能性があるので、ログイン時、メニューから「DM」をクリックして確認するようにしましょう。</h3>
  </div>
</div>
