.chat{
  padding:0;
}

.chat-room{
  height:650px;
}

.chat-box{
  width:100%;
  list-style: none;
  margin:30px;
}
.chat-icon-image{
  height:30px;
  width:30px;
  border-radius:50%;
  margin-right: 10px;
}

.chat-name-bar{
  vertical-align:middle;
  display:inline;
}

.send-btn{
  text-decoration: none;
  background-color:dodgerblue;
  border: none;
  color:white;
  padding:10px;
  border-radius: 5px;
  margin:20px;
}

.send-form{
  width:30%;
}

.posts{
  margin:30px;
}

.message-box{
  margin:10px;
  border-bottom:solid 1px lightgrey ;
}

.dm{
  display:inline-block;
  text-decoration: none;
  color:black;
}

.image{
  float:left;
}

.name{
  white-space: nowrap
}

.time{
  font-size: 10px;
}

.dm-container{
 height: 650px;
 overflow: auto;
}
